@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

:root {
  --primary: #6f1d1b;
  --secondary: #e63946;
  --tertiary: #fdf0d5;
  --quaternary: #1d3557;
  --quinary: #457b9d;
  --background1: #E2E2E2;
  --background2: #F8F8F8;
}

body {
  background-color: var(--background1);
  color: var(--quaternary);
}
